CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

build
gambit

.vscode/
tags*

# Binaries
gambit

# Visual Studio ignores
.vs/

# CLion ignores
.idea/
cmake-build-debug/

# Ignore asset files for now
assets/avocado
assets/bag
assets/helmet
assets/microphone
assets/adam
assets/nara
assets/nier
assets/pikachu
assets/ship
