[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
        ignore = dirty

[submodule "lib/ImGuizmo"]
	path = lib/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
        ignore = dirty

[submodule "lib/libsndfile"]
	path = lib/libsndfile
	url = https://github.com/libsndfile/libsndfile
		ignore = dirty

[submodule "lib/openal-soft"]
	path = lib/openal-soft
	url = https://github.com/kcat/openal-soft
		ignore = dirty

[submodule "lib/assimp"]
	path = lib/assimp
	url = https://github.com/assimp/assimp
		ignore = dirty

[submodule "lib/nativefiledialog-extended"]
	path = lib/nativefiledialog-extended
	url = https://github.com/btzy/nativefiledialog-extended
		ignore = dirty